body {font-family: Arial, Helvetica, sans-serif;}

#grad {
  background-image: linear-gradient(to right, #522B5B , #1C4184);
  margin: auto
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

input[type=search]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 70%;
}

img.avatar2 {
  height: auto;
  width: 50%;
}

.container {
  padding: 30px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#outer
{
    width:100%;
    text-align: center;
}

.inner
{
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    padding: 0%;
    border: none;
  }
  
.dropup {
    position: relative;
    display: inline-block;
  }
  

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    bottom: 120px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 10px !important;
  }
  
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropup-content a:hover {background-color: #ccc}
  
.dropup:hover .dropup-content {
    display: block;
  }
  
.dropup:hover .dropbtn {
    background-color: #2980B9;
  }

.btn-size {
    width: 120px;
    height: 120px;
}

img {
    width: 120px;
    height: 120px;
}

.space {
  width: 15px;
  height: auto;
  display: inline-block;
}
